letters_old
letters
a.py
X_testl.npy
X_trainl.npy
y_trainl.npy
y_testl.npy
X_test.npy
X_train.npy
y_train.npy
y_test.npy
X_valid.npy
y_valid.npy
X_validl.npy
y_validl.npy
X_testo.npy
X_traino.npy
y_traino.npy
y_testo.npy

uploaded.jpg
